@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-font-family: "Poppins", sans-serif;
  --main-text-color: #21313c;
  --sec-text-color: #f0f0f0;
  --third-text-color: #102b4e;
  --main-site-color: #253bab;
  --placeholder-text-color: #54575a;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

* {
  color: var(--main-text-color);
}

body {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  position: relative;
}

.container {
  padding-inline: 100px;
}

.contact,
.send {
  width: auto;
  margin-top: 0;
  padding: 10px 15px;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.582);
  padding-block: 20px;
}

.nav-links * {
  color: var(--third-text-color);
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 15px;
  transition: 0.2s ease-in;
}

.nav-links *:hover {
  color: var(--main-site-color);
}

/*  */

/* main */

main {
  background-image: url("../images/white-geometry.svg"),
    linear-gradient(var(--sec-text-color), var(--sec-text-color));
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0 50px 0;
}

.card {
  background-color: white;
  padding: 1.3rem 1.6rem;
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.192);
  text-align: center;
  width: 500px;
}

h1 {
  font-weight: 600;
  font-size: 1.8rem;
  padding-bottom: 20px;
}

button {
  background-color: var(--main-site-color);
  color: var(--sec-text-color);
  border-width: 0;
  width: 100%;
  padding: 0.4rem;
  font-weight: 600;
  font-family: inherit;
  border-radius: 2px;
  font-size: 1rem;
  margin-top: 1rem;
  transition: 0.2s ease-in;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
  /* box-shadow: 0 0 0.4rem var(--main-site-color); */
}

.field-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.4rem;
  position: relative;
}
label {
  margin-bottom: 0.3rem;
}

input {
  font-family: inherit;
  width: 100%;
  padding: 6px 12px;
  font-size: 1rem;
  background-color: var(--sec-text-color);
  border: 0.1px solid transparent;
  outline: 0;
  color: var(--main-text-color);
  border-radius: 2px;
  transition: 0.1s ease-in;
}

input:focus {
  border-color: #253bab59;
  box-shadow: 0 0 0 0.25rem #253bab23;
}

.fa-eye,
.fa-eye-slash {
  position: absolute;
  right: 12px;
  top: 42px;
  color: var(--placeholder-text-color);
}

/*  */

/* footer */

footer .row {
  display: flex;
  column-gap: 1.3rem;
  justify-content: space-between;
  padding-block: 50px;
}

.col {
  width: 20%;
}

footer .icons {
  display: flex;
  column-gap: 1.5rem;
  margin-top: 25px;
}

footer .site-description {
  margin-block: 10px;
}

footer .icons i {
  border: 1px solid var(--main-site-color);
  color: var(--main-site-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  font-size: 0.9rem;
}

footer .icons i:hover {
  background-color: var(--main-site-color);
  color: var(--sec-text-color);
}

.divider {
  background-color: rgba(0, 0, 0, 0.171);
  height: 160px;
  width: 1px;
  margin-top: 30px;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer h2 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.list-header {
  margin-left: 20px;
}

footer a {
  color: var(--third-text-color);
  transition: 0.2s ease;
}

footer a:hover {
  color: var(--main-site-color);
}

footer li {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

footer .yellow-dot {
  margin-right: 15px;
}

.newsletter-form {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.send i {
  color: var(--sec-text-color);
}

.extra-info-section .row {
  padding-block: 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.192);
}

.extra-info-section .col {
  width: fit-content;
  color: var(--third-text-color);
}

.extra-info-section i {
  margin-right: 5px;
  color: var(--third-text-color);
}

/*  */
